@charset "UTF-8";

/* ---- 全体の設定 ---- */

    /* 横幅とブレークpointについて。320pxを最低確保、768未満まではモバイル対応、最大1200pxまで。 */
    /* memo:iPadの縦は768*1024 */

* {
    /* まずはスタイリングしやすいようにmargin＆paddingを無くしておく */
    margin: 0;
    padding: 0;
    /* 文字のスタイルを設定 */
    font-family: sans-serif;
    /* 文字の大きさを設定 */
    font-size: 16px;
    /* インライン要素（テキストなど）を上下中央に揃える */
    vertical-align: middle;
}
/* メインカラーとサブカラーを決める */
:root {
    --color1:#03588C; /* main */
    --color2:#73A2BF; /* light */
    --color3:#023059; /* dark */
    --color4:#5D7CA6; /* sub */
    --color5:#F2CAA7; /* accent */
}

/* ---- タグへの設定 ---- */
ul {
    /* リストのスタイルを無しに */
    list-style: none;
}
a {
    /* 文字の下線スタイルを無しに */
    text-decoration: none;
    /* 仮に文字色は白 */
    color: #fff;
    /* リンクを押せる範囲を広くしたいのでblockへ変換（でもliにpadding
    設定したほうが逆にuxよいか迷った） */
    display: block;
    padding: 1em;
}
/* リンクにマウスが乗ったら、半透明の画像を作って（liner-gradient）重ねる */
a:hover {
    background-image: linear-gradient(
        rgba(225,225,225,0.2),
        rgba(225,225,225,0.2)
    );
}
p {
    padding: 0 1em;
}


/* ---- 一番上のヘッダーバー ----*/
#top-bar {
    /* 横幅は画面サイズ */
    width: 100vw;
    /* 背景に色をつけて文字は白抜きにする */
    background-color:var(--color1);
    color: #fff;
    /* 左端のh1ロゴと右端のnavを横並び(flex)にする。その後、均等割り付け（space-between）にて両端に寄せる */
    display: flex; 
    justify-content: space-between;
    /* アイテムを縦位置中央にする */
    align-items: center;
}
#left-menu {
    display: flex;
    align-items: center;
}
#toggle {
    border-style: none;
    padding: 1em;
    background-color: var(--color1);
    color: #fff;
    cursor: pointer;
}
h1 {
    /* 文字の大きさを仮に25px */
    font-size: 25px;
    /* 左右に1文字分のpaddingを入れる */
    padding: 0.5em 0.5em 0.5em 1em;
}
#top-nav ul {
    /* ナビの各項目(li)を横並びにする */
   display: flex; 
}
#top-nav ul:last-child{
    /* 右上が見切れるので苦し紛れに入れてみた */
    margin-right: 1em;
}


/* ---- 左のサイドバー ---- */
#side-bar {
    /* 背景に色を付けて、文字は白抜き */
    background-color: var(--color4);
    color: #fff;
    /* 幅は左端からディスプレイの20％の幅 */
    width: 10%;
    min-width: 15em;
}
#user {
    /* ユーザー情報の背景色 */
    background-color: var(--color3);
    padding: 10px;
    /* 顔写真と名前を横並び */
    display: flex;
}
#user-face {
    /* 仮に顔写真orアイコンスペース */
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ccc;
}
#search {
    padding: 1em;
    /* 検索ボックスとボタンをくっつける */
    display: flex;
}
#search-box {
    width: 80%;
    /* 枠のスタイルを無くす */
    border-style: none;
    /* 左だけ丸角にする */
    border-radius:  3px 0 0 3px;
    height: 30px;
}
#search-btn {
    /*  枠のスタイルを無くす  */
    border-style: none;
    /* 右だけ丸角にする */
    border-radius:  0 3px 3px 0;
    /* 背景色は白 */
    background-color:var(--color3);
    color: #fff;
    padding: 0 0.5em  0 0.5em;
}
#search-btn:hover {
    background:var(--color1);
    cursor: pointer;
}
#side-nav a {
    /* 上だけ区切り線を入れる */
    border-top: solid 1px #fff;
    padding: 1em 2em;
}
#side-nav ul:last-child{
    /* 最後のliのみ下だけ区切り線を入れる */
    border-bottom: solid 1px #fff;
}

/* ---- コンテンツ ---- */
.row {
    display: flex;
}
/* 以下、作りかけ。pending中 */
/* .content {

} */



/*---- レスポンシブweb対応（横幅768px未満まではモバイル対応）---- */
/* 小さい画面での対応 */
@media(max-width:767px){
    .max-none{
        display: none;
    }
    h1 {
        font-size: 18px;
        padding: 0.5em;
    }
    #side-bar {
        display: none;
        width: 100%;
    }
}

/* 大きい画面での対応 */
@media(min-width:767px){
    #side-bar{
        height: 100vw;
        
    }
    /* トグルボタンは残すかどうか検討中 */
    /* #toggle {
        display: none;
    } */
}




















